{% extends "main/base.html" %}
{% block content %}

    <!-- Catalog -->
    <div class="catalog">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, nisi neque debitis nobis accusamus officiis aliquid fugiat, quasi libero quae itaque quos minima inventore, hic quaerat consequuntur cum eaque voluptatibus!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <img src='images/1.jpg' alt='' class='img-fluid' />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="image">
                        <img src='images/1.jpg' alt='' class='img-fluid' />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, nisi neque debitis nobis accusamus officiis aliquid fugiat, quasi libero quae itaque quos minima inventore, hic quaerat consequuntur cum eaque voluptatibus!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Catalog -->

{% endblock %}