{% extends "main/base.html" %}
{% load static %}
{% block content %}
    
    <!-- Special Header For Slider -->
    <div class='container'>
        <h3 class='special-header'>Catalogues</h3>
    </div>
    <!-- Special Header For Slider -->
    <!-- Catalog -->
    <div class="catalog">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="text">
                        <p>Vous retrouverez le catalogue de BIC vous présentant tous les articles publicitaires en cliquant tout simplement sur l'image pour accéder au lien.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <img src='{% static 'main/images/1.jpg'%}' alt='' class='img-fluid' />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Catalog -->

{% endblock %}
