{% extends 'main/base.html' %}
{% load static %}
{% block content %}
 <!-- Categories -->
    <div class='category-page'>
        <div class='categories'>
            <div class="container">
                <h2 class='special-header cathead'>{{ category_name|title }}</h2>
                <div class='category'>
                    <div class='row'>
                        {% for product in products %}
                        <div class="col-md-4 col-lg-3">
                            <a href='{% url 'main:products' cat_name=category_name product_name=product.name %}'>
                                <div class='product'>
                                    <div class='image'>
                                        <img src='{{ product.photo.url }}' alt='product1' class='img-fluid' />
                                        <div class='overlay'>
                                            <div class='icons'>
                                                <i class='fa fa-search-plus see'></i>
                                                <p>{{ product.short_description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                        <div class="col-md-4">
                            <a href='product.html'>
                                <div class='product'>
                                    <div class='image'>
                                        <img src='{% static 'main/images/1.jpg' %}' alt='product1' class='img-fluid' />
                                        <div class='overlay'>
                                            <div class='icons'>
                                                <i class='fa fa-search-plus see'></i>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>



                        <div class="col-md-4">
                            <a href='product.html'>
                                <div class='product'>
                                    <div class='image'>
                                        <img src='{% static 'main/images/1.jpg' %}' alt='product1' class='img-fluid' />
                                        <div class='overlay'>
                                            <div class='icons'>
                                                <i class='fa fa-search-plus see'></i>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories -->
{% endblock %}
