{% extends "main/base.html" %}
{% block content %}
    <!-- Contact Details -->
    <div class='details'>
        <div class="container">
            <div class='row'>
                <div class='col-md-6'>
                    <div id="map" style="width:100%;height:500px;background:yellow"></div>
                </div>
                <div class='col-md-6'>
                    <ul class='list-unstyled info'>
                        <li><span>Email: </span>info@vmpub.ch</li>
                        <li><span>Email: </span>isiskhersto@hotmail.com</li>
                        <li><span>Phone: </span>+79.644.83.12</li>
                        <li><span>Tél: </span>022.300.52.25</li>
                        <li><span>Fax: </span>022.300.52.26</li>
                        <li><span>Kheresto Isis</span> 35 route de la</li>
                        <li><span>Chapelle</span> 1212 GRAND-LANCY</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Details -->

    {% endblock %}
