{% extends 'main/base.html' %}
{% block content %}
{% load static %}
    <!-- Impression -->
    <div class="container">
           <h2 class='special-header'>Impression</h2>
    </div>
    <div class='impression'>
        <div class="container">
            <div class="start">
                <h4 style="color: #491217">Méthodes de marquage</h4>
                <p>Différentes méthodes de marquage sont utilisées pour une qualité durable. La méthode employée dépend de l'objet.</p>
            </div>
            <div class="row">
                {% for imp in impressions %}
                <div class="col-md-6">
                    <div class="type">
                        <h4 style="color: #491217">{{ imp.title }}</h4>
                        <p>{{ imp.description }}</p>
                        <div class='image'>
                            <img src='{{ imp.photo.url }}' alt='' class='img-fluid' />
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <marquee>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo est, porro autem consequatur excepturi</marquee>
        </div>
    </div>
    <!-- Impression -->

    {% endblock %}
