{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<!-- Suggest Product Slider -->
    <!-- Special Header For Slider -->
    <div class='container'>
        <h3 class='special-header'>All Categories</h3>
    </div>
    <!-- Special Header For Slider -->
    <div id="sugSlider" class="carousel slide category" data-ride="carousel">
        <div class="carousel-inner container">
            <div class="carousel-item active">
                <!-- Start Of SugSlider Row -->
                <div class='row'>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='{% url 'main:categories' cat_name='Stylos' %}'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='{% static 'main/images/1.jpg' %}' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='{% url 'main:categories' cat_name='Stylos' %}'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='{% static 'main/images/1.jpg' %}' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='{% url 'main:categories' cat_name='Stylos' %}'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='{% static 'main/images/1.jpg' %}' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                </div>
                <!-- End Of SugSlider Row -->
            </div>
            <!-- End of Carousel Item -->
        </div>
        <i class="carousel-control-prev fa fa-angle-left" href="#sugSlider" role="button" data-slide="prev">
            <span class="sr-only">السابق</span>
        </i>
        <i class="carousel-control-next fa fa-angle-right" href="#sugSlider" role="button" data-slide="next">
            <span class="sr-only">Next</span>
        </i>
    </div>
    <!-- Suggest Product Slider -->
{% endblock %}
{% block aboutus %}
     <!-- About us -->
    <div class="about">
        <div class='container'>
            <h2 class='special-header abouthead'>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sequi, beatae voluptatem suscipit tempore velit assumenda sed deserunt aspernatur iure repellat fugit repudiandae sapiente quas minima praesentium quae tempora. Esse.</p>
        </div>
    </div>
    <!-- About us -->
{% endblock %}
