{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}

<div class='container'>
        <h3 class='special-header'>أهم العروض و الخصومات</h3>
    </div>
    <!-- Special Header For Slider -->
    <div id="sugSlider" class="carousel slide category" data-ride="carousel">
        <div class="carousel-inner container">
            <div class="carousel-item active">
                <!-- Start Of SugSlider Row -->
                <div class='row'>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='category.html'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='{% static 'images/1.jpg' %}' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <i class='fa fa-eye see'></i>
                                            <a href='product.html'><i class='fa fa-shopping-cart buy'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='category.html'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='{% static 'images/1.jpg' %}' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <i class='fa fa-eye see'></i>
                                            <a href='product.html'><i class='fa fa-shopping-cart buy'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='category.html'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='images/1.jpg' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <i class='fa fa-eye see'></i>
                                            <a href='product.html'><i class='fa fa-shopping-cart buy'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                </div>
                <!-- End Of SugSlider Row -->
            </div>
            <!-- End of Carousel Item -->
            <div class="carousel-item">
                <!-- Start Of SugSlider Row -->
                <div class='row'>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='category.html'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='{% static 'images/1.jpg' %}' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <i class='fa fa-eye see'></i>
                                            <a href='product.html'><i class='fa fa-shopping-cart buy'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='category.html'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='images/1.jpg' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <i class='fa fa-eye see'></i>
                                            <a href='product.html'><i class='fa fa-shopping-cart buy'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='category.html'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='images/1.jpg' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <i class='fa fa-eye see'></i>
                                            <a href='product.html'><i class='fa fa-shopping-cart buy'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                </div>
                <!-- End Of SugSlider Row -->
            </div>
            <!-- End of Carousel Item -->
            <div class="carousel-item">
                <!-- Start Of SugSlider Row -->
                <div class='row'>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='category.html'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='images/1.jpg' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <i class='fa fa-eye see'></i>
                                            <a href='product.html'><i class='fa fa-shopping-cart buy'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='category.html'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='images/1.jpg' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <i class='fa fa-eye see'></i>
                                            <a href='product.html'><i class='fa fa-shopping-cart buy'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                    <div class='col'>
                        <!-- ********** Start Product ********** -->
                        <a href='category.html'>
                            <div class='product'>
                                <div class='image'>
                                    <img src='images/1.jpg' alt='product1' class='img-fluid' />
                                    <div class='overlay'>
                                        <div class='icons'>
                                            <i class='fa fa-eye see'></i>
                                            <a href='product.html'><i class='fa fa-shopping-cart buy'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ********** End Product ********** -->
                    </div>
                </div>
                <!-- End Of SugSlider Row -->
            </div>
            <!-- End of Carousel Item -->
        </div>
        <i class="carousel-control-prev fa fa-angle-left" href="#sugSlider" role="button" data-slide="prev">
            <span class="sr-only">السابق</span>
        </i>
        <i class="carousel-control-next fa fa-angle-right" href="#sugSlider" role="button" data-slide="next">
            <span class="sr-only">Next</span>
        </i>
    </div>
{% endblock %}
{% block aboutus %}
     <div class="about">
        <div class='container'>
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sequi, beatae voluptatem suscipit tempore velit assumenda sed deserunt aspernatur iure repellat fugit repudiandae sapiente quas minima praesentium quae tempora. Esse.</p>
        </div>
    </div>
    <!-- About us -->
{% endblock %}
