{% load static %}
{% load menu  %}
{% block navbar %}
    <!-- Navigation -->
    <nav>
        <div class="logo">
            <img src='{% static 'main/images/gif.gif' %}' alt='logo' class='img-fluid' />
        </div>
        <div class="search">
            <form action="" method="">
                <input type="search" name='filter' class='' placeholder='Search'/>
                <input type='submit' name='submit' value='&#xf002;' class='btn btn-success' />
            </form>
        </div>
        <!--<div class="lhs">
            <i class='fa fa-heart'></i>
        </div>-->
    </nav>
    <!-- Navigation -->

    <!-- Nav -->
    <div class="navigation">
        <div class="container">
            <ul class='list-unstyled main'>
                <li><a href='{% url 'main:home' %}'>Accueil</a></li>
                <li class='cat-link'>
                    <a href=''>Produits</a>
                    <ul class='list-unstyled sup-menu'>

                     {% for cat in categories %}
                      <li><a href='{% url 'main:categories' cat_name=cat %}'> {{ cat }}</a></li>
                     {% endfor %}


                    </ul>
                </li>
                <li><a href='{% url 'main:impression' %}'>Impression</a></li>
                <li><a href='{% url 'main:catalog' %}'>Catalogues</a></li>

                <li><a href='{% url 'main:contact' %}'>Contact us</a></li>
                <li><a href='{% url 'main:details' %}'>Contacts</a></li>
            </ul>
        </div>
    </div>
    <!-- Nav -->

{% endblock %}
