{% load static %}
{% block navbar %}
        <!-- Navigation -->
    <nav>
        <div class="logo">
            <img src='{% static 'images/logo.png' %}' alt='logo' class='img-fluid' />
        </div>
        <div class="search">
            <form action="" method="">
                <input type="search" name='filter' class='' />
            </form>
        </div>
        <div class="lhs">
            <i class='fa fa-heart'></i>
        </div>
    </nav>
    <!-- Navigation -->


    <!-- Nav -->
    <div class="navigation">
        <div class="container">
            <ul class='list-unstyled main'>
                <li><a href='index.html'>Home</a></li>
                <li><a href='impression.html'>Impression</a></li>
                <li><a href='catalog.html'>Catalog</a></li>
                <li class='cat-link'>
                    <a href='category.html'>Categories</a>
                    <ul class='list-unstyled sup-menu'>
                        <li><a href='category.html'>Category1</a></li>
                        <li><a href='category.html'>Category2</a></li>
                        <li><a href='category.html'>Category3</a></li>
                    </ul>
                </li>
                <li><a href='contact.html'>Contact us</a></li>
                <li><a href='details.html'>About us</a></li>
            </ul>
        </div>
    </div>
    <!-- Nav -->

{% endblock %}
