{% extends "main/base.html" %}
{% load static %}
{% block content %}

    <!-- Product -->
    <div class='product-page'>
        <div class='container'>
            <div class='window'>
                <div class='row'>
                    <div class="col-md-8">
                        <div class='product'>
                            <div class='image' id='holder'>
                                <div class='img1 active'><img src='{% static 'main/images/1.jpg' %}' alt='product1' class='img-fluid' /></div>
                                <div class='img2 hidden'><img src='{% static 'main/images/2.jpg' %}' alt='product1' class='img-fluid' /></div>
                                <div class='img3 hidden'><img src='{% static 'main/images/3.jpg' %}' alt='product1' class='img-fluid' /></div>
                                <div class='img4 hidden'><img src='{% static 'main/images/4.jpg' %}' alt='product1' class='img-fluid' /></div>
                                <div class='img5 hidden'><img src='{% static 'main/images/5.jpg' %}' alt='product1' class='img-fluid' /></div>
                            </div>
                            <div class='desc'>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class='shuffle'>
                            <h4 class='text-center'>See More</h4>
                            <ul class='list-unstyled'>
                                <li data-class='.img1'><img src='{% static 'main/images/1.jpg' %}' alt='' class='img-fluid' /></li>
                                <li data-class='.img2'><img src='{% static 'main/images/2.jpg' %}' alt='' class='img-fluid' /></li>
                                <li data-class='.img3'><img src='{% static 'main/images/3.jpg' %}' alt='' class='img-fluid' /></li>
                                <li data-class='.img4'><img src='{% static 'main/images/4.jpg' %}' alt='' class='img-fluid' /></li>
                                <li data-class='.img5'><img src='{% static 'main/images/5.jpg' %}' alt='' class='img-fluid' /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product -->


{% endblock %}
