{% extends "main/base.html" %}
{% block content %}

    <!-- Product -->
    <div class='product-page'>
        <div class='container'>
            <div class='window'>
                <div class='row'>
                    <div class="col-md-8">
                        <div class='product'>
                            <div class='image' id='holder'>
                                <img src='images/1.jpg' alt='product1' class='img-fluid' />
                            </div>
                            <div class='desc'>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, inventore consectetur saepe ipsa doloribus in earum laudantium harum explicabo debitis quam, quos necessitatibus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class='shuffle'>
                            <ul class='list-unstyled'>
                                <li><img src='images/1.jpg' alt='' class='img-fluid' /></li>
                                <li><img src='images/2.jpg' alt='' class='img-fluid' /></li>
                                <li><img src='images/3.jpg' alt='' class='img-fluid' /></li>
                                <li><img src='images/4.jpg' alt='' class='img-fluid' /></li>
                                <li><img src='images/5.jpg' alt='' class='img-fluid' /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product -->


{% endblock %}