{% extends "main/base.html" %}
{% load static %}
{% block content %}

    <!-- Product -->
    <div class='product-page'>
        <div class='container'>
            <div class='window'>
                <div class='row'>
                    <div class="col-md-8">
                        <div class='product'>
                            <div class='image' id='holder'>
                            <div class='img1 active'><img src='{{ product.photo.url }}' alt='product1' class='img-fluid' /></div>
                  {% if product_photos %}
                          {% for product_photo in product_photos %}
                                {% if forloop.counter > 1 %}
                           <div class='img{{ forloop.counter1 }} hidden'><img src='{{ product_photo.photo.url }}' alt='product1' class='img-fluid' /></div>
                                {% endif %}
                           {% endfor %}
                  {% endif %}

                            </div>
                            <div class='desc'>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class='shuffle'>
                            <h4 class='text-center'>See More</h4>
                            <ul class='list-unstyled'>
                            <li data-class='.img1' class='active'><img src='{{ product.photo.url }}' alt='' class='img-fluid' /></li>
                                {% if product_photos %}
                                    {% for product_photo in product_photos %}
                                {% if forloop.counter > 1 %}
                                     <li data-class='.img'><img src='{{ product_photo.photo.url }}' alt='' class='img-fluid' /></li>
                                        {% endif %}
                                    {% endfor %}
                               {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product -->


{% endblock %}
