{% extends 'main/base.html' %} {% load static %} {% load url_mods %} {% block content %}

<!-- Search Result -->
<div class='result'>
    <div class='container'>
       <!-- Loop on row -->
        <div class='row'>
            <div class='col-md-4'>
                <div class='image'>
                    <img src='../../static/main/images/1.jpg' alt='' class='img-fluid' />
                </div>
            </div>
            <div class='col-md-8'>
                <div class="text">
                    <a href='#'>
                        <h4>Title</h4>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi fuga, dolor totam officiis blanditiis pariatur aut dignissimos nihil voluptas laboriosam sunt, soluta nobis. Repellat voluptatem, facilis exercitationem beatae molestias a.</p>
                </div>
            </div>
            <hr>
        </div>
       <!-- Loop on row -->
        <!-- Loop on row -->
        <div class='row'>
            <div class='col-md-4'>
                <div class='image'>
                    <img src='../../static/main/images/1.jpg' alt='' class='img-fluid' />
                </div>
            </div>
            <div class='col-md-8'>
                <div class="text">
                    <a href='#'>
                        <h4>Title</h4>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi fuga, dolor totam officiis blanditiis pariatur aut dignissimos nihil voluptas laboriosam sunt, soluta nobis. Repellat voluptatem, facilis exercitationem beatae molestias a.</p>
                </div>
            </div>
            <hr>
        </div>
       <!-- Loop on row -->
    </div>
</div>
<!-- Search Result -->

{% endblock %}
