{% extends 'main/base.html' %} {% load static %} {% load url_mods %} {% block content %}

<!-- Search Result -->
<div class='result'>
    <div class='container'>
        <!-- Loop on row -->
        {% if result %}
            {% for r in result %}
        <div class='row'>
            <div class='col-md-4'>
                <div class='image'>
                    <img src='{{ r.photo.url }}' alt='' class='img-fluid' />
                </div>
            </div>
            <div class='col-md-8'>
                <div class="text">
                    <a href='{% url 'main:products' cat_name=r.category.name|space_to_dash product_name=r.name|space_to_dash %}'>
                        <h4>{{ r.name|title }}</h4>
                    </a>
                    <p>{{ r.description }}</p>
                </div>
            </div>
            <hr>
        </div>
            {% endfor %}
            {% else %}
             <p class='notExist'>No match found.</p>
        {% endif %}
       <!-- Loop on row -->
    </div>
</div>
<!-- Search Result -->

{% endblock %}

{%if products%}
{%else%}
{% block footer%}
{% include 'main/floatfooter.html' %}
{% endblock %}
{%endif%}
