/* Global */
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html
{
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url(../images/bg.jpg);
    background-position: left top;
    background-repeat: repeat;
    background-attachment: scroll;    
}
body
{
    /*background: #000000;*/  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #272727, #000000);*/  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top, #272727, #000000);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url(../images/bg.jpg) no-repeat fixed;
    background-size: cover;
    height: 1vh
}
.main-image-back img
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Do Hyeon', sans-serif;    
}
p,li,a
{
    font-family: 'Raleway', sans-serif;    
}
/* Global */

/* Nav */
nav
{
    /*background: #990000;*/
    /*background: #A50000;*/
    background: #522424;
    display: flex;
    justify-content: space-evenly;  
    position: fixed;
    width: 100%;
    z-index: 12;
    padding: 15px 0
}
nav .logo{width: 140px}
nav .search
{
    width: 45%
}
@media (min-width: 0) and (max-width: 767px) {nav .search{display: none}}
nav form{position: relative}
nav .search form input[type='search']
{
    width: 100%;
    padding: 9px;
    border: 1px solid #F5F5F5;    
    color:#555;
    font-size: .9rem
}
nav .mob-search form input[type='search']
{
   background: transparent;
    border: 1px solid #2f2f2f;
    color: #CCC
}
nav .mob-search form input[type='submit']
{
   background: #000;

}
::placeholder{color: #d4d4d4;font-size: 1rem}
nav .search form input[type='submit']
{
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-radius: 0;
    height: 100%;
    background: #ccc;  
    cursor: pointer
}
nav .mob-search
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1c;
    z-index: 99;
    text-align: center;
    padding: 20px;    
    display: none
}
nav .mob-search form
{
    max-width: 600px;
    margin: auto;    
}
nav i
{
    display: none !important;
    color: #FFF;
    font-size: 1.5rem;
    position: relative;
    top: 11px;    
    z-index: 999;
    cursor: pointer
}
@media (min-width: 0) and (max-width: 767px) {nav i{display: block !important}}
/* Nav */

/* Navigation */
.navigation
{
    position: fixed;
    width: 100%;
    top: 78px;
    background: #131313;
    z-index: 12;    
}
@media (min-width: 0) and (max-width: 767px) {.navigation{display: none}}
.navigation .main{display: flex;justify-content: space-around;margin: 0;text-align: center;}
.navigation .main a{width: calc(100% / 6);
    position: relative;
    background: #131313; padding-top: 3px;
    color: #FFF;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;}
.navigation .main > li
{   
    font-size: 0.85rem;
    margin-bottom: 3px;  
    background:#FFF;
    /*padding: 5px 10px;*/
    padding: 5px 0;
    height: 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.navigation ul .cat-link
{
	width: calc(100% / 6);
    position: relative;
	background : #131313;
	margin : 0;
	color: #FFF;
}
.navigation ul .cat-link i
{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	position: absolute;
    right: 35px;
    top: 8px;
}
.navigation ul .cat-link:hover i
{
    transform: rotate(-90deg)
}
.navigation ul .cat-link:hover{background: #FFF; color: #131313}
.navigation ul.sup-menu
{
    position: absolute;
    background: #212121;
    width: 100%;
    top: 30px;
    padding: 8px 0;
    display: none;
    border-top: 5px solid #131313;
    /*-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;*/
}
/*.navigation ul .cat-link:hover .sup-menu
{
    display: block;
}*/
.navigation ul.sup-menu li{padding: 5px 0 8px 10px}
.navigation .sup-menu li:hover{background: #383838}

.navigation .main li:hover a{color: #FFF}
.navigation .main a:hover{background: #FFF; color: #131313}
.navigation ul a:hover{text-decoration: none}
/* Navigation */

/* Start Mobile Nav */
.mobnav
{
    background: #222;
    overflow: hidden;
    position: fixed;
    top: 88px;
    width: 100%;
    z-index: 9;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.mobnav.active {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2px;
    z-index: 3;
    background: #222
}
@media (min-width: 768px) {.mobnav,.sub-menu{display: none}}
.mobnav .nav-content{overflow: hidden}
.mobnav .nav-content .mlinks
{
    position: relative;
    height: 100vh;
    z-index: 9;
    display: none;   
    padding: 50px 10px 10px 10px
}
.hamburger
{
    position: fixed;
    top: 105px;
    left: 20px;
    width: 20px;
    height: 3px;
    background: #b34345;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 999;
    cursor: pointer
}
.hamburger:before,
.hamburger:after
{
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: #FFF;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.hamburger:after{background:#5f1711}
.hamburger:before{top: -6px}
.hamburger:after{top: 6px}
.icon.active .hamburger{background: rgba(255, 255, 255, 0);}
.icon.active .hamburger:before{top: 0;transform: rotate(45deg);}
.icon.active .hamburger:after{top: 0;transform: rotate(135deg);}
.mobnav .mlinks li
{
    color: #FFF;
    padding-bottom: 13px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer
}
.mobnav .mlinks li:hover{padding-left: 2px}
.mobnav .mlinks li a{color: #FFF;text-decoration: none}
.mobnav .mlinks .sup-menu
{
    display: none;
    margin-top: 7px
}

.mobnav ul.sup-menu
{
    padding-left: 20px;
    background: #1f1f1f;
    padding: 10px 10px 10px 20px;
}
.mobnav ul.sup-menu li a{color: #DDD;text-decoration: none}



/* End Mobile Nav */

/* Slider */
.special-header{padding-top: 140px;padding-left: 20px; color:#FFF;position: relative}
.special-header:before
{
    content: '';
    position: absolute;
    top: 138px;
    left: 0;
    width: 7px;
    height: 40px;
    background: #FFF;
}
#sugSlider
{
    padding: 30px 0 0 0
}
.product .image{position: relative; width: 350px}
.product .image .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%; 
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center
}
.product .image .overlay .icons{
    display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom: 25px;
}
.product .image:hover .overlay
{
    background: rgba(0, 0, 0, 0);
}	
.product .image .overlay h4
{
    position: absolute;
    top: 40%;
    text-align: center;   
    color: #121212;    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.product .image:hover .overlay h4
{
    top: 15px
}
.product .image .icons p{color: #444; position: absolute; bottom: 60px;}
.product .image .icons i{color: #F5F5F5}
.product .image .icons p,
.product .image .icons i
{
    opacity: 0;
    transform:scale(1.5);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/*.product .image:hover .icons
{
    opacity: 1;
    transform: scale(1);
}*/
.product .image i
{
    color: #fbfbfb;
    background: #151515;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 1.1rem;  
    position: relative;
    margin-bottom: 15px;
}
.product .image:hover i
{  
    opacity: 1;
    transform: scale(1);
}
.product .image p
{
    color: #555;
    font-size: .9rem; 
    text-align: center;
    padding: 0 15px; 
    font-weight: bold
}
.product .image:hover p
{ 
    opacity: 1;
    transform: scale(1);
    transition-delay: .2s
}
#sugSlider > i 
{
    color: #000;
    background: #FFF;
    height: 30px;
    width: 30px;
    top: 50%
}
#sugSlider > i:first-of-type{left: 60px}
#sugSlider > i:last-of-type{right: 60px}
/* Slider */

/* About */
.about{padding: 90px 0}
.about .abouthead{padding-top: 0; margin-bottom: 20px}
.about .abouthead:before{top: 1px}
.about p
{
    color: #d8d8d8;
    font-size: 0.9rem;    
}
/* About */

/* Footer */
.footer
{
    background: #171414;
    color: #FFF;
    padding: 30px 0;
    overflow: hidden;
}
.footer .flogo{width: 250px}
.footer ul div:first-of-type li:first-of-type
{
    cursor: default;
    font-size: 0.86rem;
    color: #a5a5a5;
}
.footer ul div li a{font-size: 0.76rem}
.footer p
{
    color: #949494
}
.footer .footer-media
{
    display: flex;
    margin: 0 0 30px 0;
    padding: 0;
    color: #FFF
}
.footer .footer-media li i
{
    background: #FFF;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%
}
@media (min-width: 0) and (max-width: 767px)
{
    .footer .col-md-4:nth-of-type(2){margin: 20px 0 10px 0}
    .footer .col-md-4:last-of-type{text-align: center}
    .footer .footer-media
    {
        display: flex;
        justify-content: center;
    }
    .footer .footer-media li
    {
        padding-top: 5px
    }
}
.footer .footer-media li
{
    padding-right: 10px
}
.footer .footer-media li i:first-of-type{background: #f88a02}
.footer .footer-media li:nth-of-type(2) i{background: #02549e}
.footer .footer-media li:nth-of-type(3) i{background: #e42526}
.footer .footer-media li:nth-of-type(4) i{background: #00aced}
.footer .footer-media li:nth-of-type(5) i{background: #fffc00}
.footer .footer-media li:last-of-type i{background: #3c5b9a}

.footer .sitemap
{
    padding: 0;
}
.footer .sitemap a
{
    color: #FFF;
    text-decoration: none
}
/* Footer */




/* =================================== CATEGORY PAGE =================================== */
.categories
{
    padding: 140px 0
}
.categories h2{position: relative;padding-top: 30px; padding-bottom: 30px}
.categories h2:before
{
    top: 31px    
}
.categories .product{margin-bottom: 25px}
.category-page .product .image{margin: auto}
/* =================================== CATEGORY PAGE =================================== */

/* =================================== PRODUCT PAGE =================================== */
.product-page{overflow: hidden;padding: 160px 0}
.product-page .row .col-md-8{padding: 0 !important}
.product-page .image{width: 100%}
.product-page .row .col-md-8 .desc{color: #FFF}
.product-page .row .col-md-4{padding: 0 !important}
.product-page .window .product .image{margin-bottom: 20px;border: 1px solid #333}
.product-page .shuffle h4
{
    color: #FFF;
    position: relative;    
}
.product-page .shuffle h4:before,
.product-page .shuffle h4:after
{
    content: '';
    position: absolute;
    top: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFF;   
}
.product-page .shuffle h4:before{left: 110px}
.product-page .shuffle h4:after{right: 110px}
.product-page .shuffle li
{
    width: 150px;
    margin: 10px auto;
    cursor: pointer
}
/* =================================== PRODUCT PAGE =================================== */


/* =================================== DETAILS PAGE =================================== */
.details{padding: 170px 0}
@media (min-width: 0) and (max-width: 767px)
{    
    .details .informations
    {
        margin-top: 25px
    }
}
.details ul
{
    background: #171717;
    color: #FFF;
    padding: 20px;
    border: 1px solid #555
}
.details ul li
{
    margin-bottom: 15px;
    font-size: 0.8rem;
    padding: 5px;
    color: #CCC
}
.details ul li:nth-of-type(odd)
{
    background: #383838
}
.details ul li span
{
    font-weight: bold;
    font-size: 0.9rem;
    color: #FFF
}
/* =================================== DETAILS PAGE =================================== */

/* =================================== CONTACT PAGE =================================== */
/* Contact Form */
.contact-form{max-width: 700px;margin:auto;padding: 80px 0}
.contact-form h3{margin: 30px 0 50px 0;position: relative;color:#FFF;padding-top:40px}
.contact-form h3:before{top: 36px}
.contact-form .new-line{position: absolute;width: 200px;height: 2px;background: #bbbbbb;top: 40px}
.contact-form .new-line span{position: absolute;height: 2px;background: #FFF}
.contact-form .form-group
{
    transform: translateX(-40px);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;    
}
.contact-form input,
.contact-form textarea
{
    padding: 8px 8px 8px 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    width: 100%;
    margin-bottom: 15px;
    color: #F6F6F6;
    outline: none;
    resize: none;
}
.contact-form input,
.contact-form .form-group,
.contact-form textarea{position: relative;}
.contact-form input[type='submit']
{
    background: #0069d9;
}
.contact-form textarea{height: 200px}
.contact-form i{position: absolute;top: 14px;left: 15px;font-size: .8rem;color: #c5c5c5}
/* Contact Form */
/* =================================== CONTACT PAGE =================================== */


/* =================================== IMPRESSION PAGE =================================== */
.impression
{
   padding: 60px 0
}
.impression .start{margin: 30px 0 70px 0; color: #FFF}
.impression .type {color: #FFF;margin-bottom: 15px}
@media (min-width: 0) and (max-width: 767px)
{
    .impression .type{margin-bottom: 25px}
}
.impression .type h4{font-size: 1.3rem}
.impression .type p
{
	min-height: 57px;
    font-size: .8rem;
}
.impression .type .image
{
    border: 1px solid #FFF;
    padding: 2px;
}
.impression marquee{margin-top: 20px;color: #FFF}
/* =================================== IMPRESSION PAGE =================================== */

/* =================================== CATALOG PAGE =================================== */
.catalog{padding: 40px 0}
.catalog .row{margin-bottom: 75px}
.catalog .row .text{color: #FFF}
/* =================================== CATALOG PAGE =================================== */
.hidden{display: none}
